<section class="wrapper">
    <div class="container">
    <% if @contents.count == 0 %>
        <h4>投稿がありません</h4>
    <% else %>
        <% @contents.each do |content| %>
            <div class="content">
                <div class="content-item">
                    <%= link_to content_path(content.id) do %>
                    <div style="text-align:center"><%= image_tag content.images[0].variant(resize: '500x500') %></div>
                    <% end %>
                </div>    
                <div class="content-item">
                    <div class="text">
                        <h2 class="content-visit"><%= content.visit  %></h2>
                        <h1 class="content-explain"><%= content.explain %></h1>
                    </div>
                </div>
            </div>
        <% end %>
    <% end %>
    </div>
</section>